window#password-popup .verification {
    @include floating-widget;

    label {
      font-size: 1.6em;
      margin-bottom: $spacing;
    }
    .password-entry:focus, .password-entry {
      @include unset;
      font-size: 1.2em;
    }
    .hide-button, .hide-button:focus {
    background-color: transparent;
    color: transparent;
    outline: none;
    border-width: 0px;
    }
}

.password-entry:focus, .password-entry {
  @include unset;
}
